# Node.js dependencies
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Editor directories and files
.vscode/
*.sublime-workspace

# Dependency directories
bower_components/
jspm_packages/